body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    height: 100%;
    background: url('mesapollo1.jpg') no-repeat center center/cover;
    
}

header {
    text-align: center;
    padding: 10px;
}

header img {
    max-width: 300px; 
    height: auto; 
}

#loginSection {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f3bd0c;
    padding: 20px;
    border-radius: 10px;
    color: rgb(1, 1, 1);
    width: 300px;
    font-weight: bold; 
    font-family: Arial, sans-serif; 
    font-size: 18px; 
  }

#loginForm label,
#loginForm input,
#loginForm button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#loginForm input {
    display: block;
    width: 92%; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

#loginForm input[type="password"] {
    text-security: disc; 
}

#loginForm button {
    background-color: rgb(247, 13, 9);
    color: rgba(246, 218, 3, 0.922);
    font-weight: bold; /* Pone el texto en negrita */
    font-family: Arial, sans-serif; /* Establece la fuente del texto */
    font-size: 18px; /* Establece el tamaño de la fuente */
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
}
